:root {
  --comandname: #212121;
  --comandtext: #757575;
  --Whatdo: #fff;
  --whatdobg: #2f303a;
  --comandbg: #f5f4fa;
  --hederphon: #2196f3;
  --fotermail: rgba(255, 255, 255, 0.6);
  --logo: #000;
  --button: #ffd0d0;
}

body {
  font-family: Roboto;
}

.logo {
  color: var(--hederphon);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.logo-studio {
  color: var(--logo);
}

/* .menu {} */

.menu-link {
  color: var(--logo);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;

}

.menu-link:hover {
  color: var(--hederphon);
}

/* .contacts-list {} 

.contacts-list-item {}*/

.contacts-list-link {
  color: var(--comandtext);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.contacts-list-link:hover {
  color: var(--hederphon);
}

.hero {
  background: var(--whatdobg);
  width: 1600px;
  height: 600px;
  flex-shrink: 0;
}

.hero-title {
  color: var(--Whatdo);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

.hero-button {
  width: 216px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--hederphon);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  height: 100;
  color: var(--Whatdo);
  text-align: center;
  font-size: 1.87;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
}

/* .features {} */

.section-title {
  color: var(--comandname);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

/* .features-list {}

.features-item {} */

.featuresl-text {
  color: var(--comandtext);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

/*.section {}

.work-list {}

.work-item {}

.work-image {}

.team {} */

.section-team-title {
  color: var(--comandname);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

/* .team-list {}

.team-item {}

.team-image {} */

.team-title {
  color: var(--comandname);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.team-text {
  color: var(--comandtext);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}

.footer {
  width: 1600px;
  height: 252px;
  flex-shrink: 0;
  background: var(--whatdobg);
}

.footer-address {
  color: var(--Whatdo);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

/* .footer-contacts-list {} */

.footer-contacts-list-item {
  color: var(--fotermail);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.footer-contacts-list-link {
  color: var(--fotermail);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.footer-logo {
  color: var(--hederphon);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.footer-logo-studio {
  color: var(--Whatdo);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

/* .section-buttons {} 

.button-list {} */

.button-item {
  color: var(--comandbg);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
}

.button-link {
  color: var(--comandname);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
  border-radius: 4px;
  background: #F5F4FA;
  width: 112px;
  height: 38px;
}

.button-link:hover {
  color: var(--Whatdo);
  background: var(--hederphon);
}

/* .brands {} */

.brands-main-title {
  color: var(--Whatdo);
}

/*.brands-list {} */

.brands-item {
  color: var(--comandtext);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
}

/* .brands-image {} */

.brands-title {
  color: var(--comandname);
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
}

.brands-text {
  color: var(--comandtext);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
}